<nav class="settings-nav">
    <NavLink class="settings-tab" href="/admin" Match="NavLinkMatch.All">Status</NavLink>
    <NavLink class="settings-tab" href="/admin/logs">Logs</NavLink>
    <NavLink class="settings-tab" href="/admin/users">Users</NavLink>
</nav>
