<nav class="settings-nav">
    <NavLink class="settings-tab" href="/settings" Match="NavLinkMatch.All">Preferences</NavLink>
    <NavLink class="settings-tab" href="/settings/ignored">Ignored scrobbles</NavLink>
    <NavLink class="settings-tab" href="/settings/token">API token</NavLink>
    <NavLink class="settings-tab" href="/settings/connections">Connections</NavLink>
    <NavLink class="settings-tab" href="/settings/relayretries">Failed relays</NavLink>
</nav>
